form
{
    margin-left: 20%;
    margin-right: 20%;
    
    padding-top: 100px;
    margin-bottom: 20px;
}
.formSort{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cardstyle
{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 10px;
}
.homePage
{

    background-image: url('./image/bg3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.form-label{
    color: white;
    font-size: 20px;

}
.form-control{
    background-color: black;
    color: whitesmoke;
    border: solid 1px gold;
    font-size: 20px;
}
.form-control:focus{
    background-color: black;
    color: whitesmoke;
    border: solid 1px gold;
    font-size: 20px;
}
.form-control::selection{
    background-color: black;
    color: whitesmoke;
    border: solid 1px gold;
    font-size: 20px;
}
.form-select{
    background-color: black;
    color: whitesmoke;
    border: solid 1px gold;
    font-size: 20px;
}